$icomoon-font-path: "fonts" !default;

$icon-youtube: "\e912";
$icon-instagram: "\e906";
$icon-facebook: "\e904";
$icon-twitter: "\e905";
$icon-circle: "\e90c";
$icon-circle-outline: "\e90d";
$icon-rectangle: "\e90e";
$icon-rectangle-outline: "\e90f";
$icon-triangle: "\e910";
$icon-triangle-outline: "\e911";
$icon-arrow-down: "\e907";
$icon-arrow-left: "\e908";
$icon-arrow-right: "\e909";
$icon-arrow-right-long: "\e90a";
$icon-mail: "\e90b";
$icon-arrow_forward: "\e902";
$icon-arrow_back: "\e903";
$icon-search: "\e901";
$icon-check: "\e900";

