<figure class="caption-overlay image-block">
  <img src="http://placehold.it/358x440">
  
  <figcaption class="caption-overlay-text">
    <ul class="meta-list icon-list no-bullet">
      <li class="meta-list-item t-caps">James Middleditch</li>
      <li class="meta-list-item">Gender: Male</li>
      <li class="meta-list-item">Marital Status: Widower</li>
      <li class="meta-list-item">Religion: Bábism</li>
      <li class="meta-list-item">Race: Native American</li>
    </ul>
  </figcaption>
</figure>