<section class="block">
  <header class="block-header">
    <h3 class="block-title t-base">Profile</h3>
    <span class="block-edit">
      <a href="#" class="a-alert">Edit</a>
    </span>
  </header>

  <div class="row collapse">
    <div class="large-6 columns">
      <ul class="meta-list tall">
        <li class="meta-list-item">{{> icons.icon ui="gender" fill="primary"}} Gender: Male</li>
        <li class="meta-list-item">{{> icons.icon ui="love" fill="primary"}} Marital Status: Widower</li>
        <li class="meta-list-item">{{> icons.icon ui="religion" fill="primary"}} Religion: Bábism</li>
        <li class="meta-list-item">{{> icons.icon ui="love" fill="white"}} Race: Native American</li>
        <li class="meta-list-item">{{> icons.icon ui="job" fill="primary"}} Employment Status: Full Time</li>
        <li class="meta-list-item">{{> icons.icon ui="time" fill="primary"}} Ocupation: Software Engineer</li>
        <li class="meta-list-item">{{> icons.icon ui="money" fill="primary"}} Annual Income: $100,000</li>
      </ul>
    </div>

  <div class="large-6 columns">   
    <ul class="meta-list icon-list no-bullet">
      <li class="meta-list-item">{{> icons.icon fill="primary" ui="health"}} Medical History:
        <ul class="meta-list nested no-bullet">
          <li class="meta-list-item">Migraines</li>
          <li class="meta-list-item">PVCs</li>
          <li class="meta-list-item">Shoulder Surgery (2000)</li>
          <li class="meta-list-item">Inflammed Gut</li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
</section>
