<div class="message-object media-object">
  <div class="media-object-section">
    <figure class="message-thumb">
      <img src="http://placehold.it/83x111">
      <figcaption>10:38 am</figcaption>
    </dfigureiv>
  </div>
  <div class="media-object-section">
    <div class="message-bubble">
      <p>Marc<br>
      I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
    </div>
  </div>
</div>