<nav class="top-bar {{default classes ''}}">
  <div class="row">
      <div class="medium-4 columns text-center">
        <div class="top-bar-logo">Care Giver</div>
      </div>
      <div class="top-bar-right">
       <ul class="top-bar-menu menu" data-dropdown-menu>
          <li class="top-bar-menu-item">
            <a href="#" class="top-bar-menu-link">One</a>
          </li>
          <li class="top-bar-menu-item">
            <a href="#" class="top-bar-menu-link">Two</a>
          </li>
          <li class="top-bar-menu-item">
            <a href="#" class="top-bar-menu-link">Three</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
