textarea {
  &.rounded {
    border-radius: rem-calc(10);
  }

  &.tall {
    min-height: rem-calc(100);
  }
}

#{text-inputs()},
select {
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}

.inline-form {
  @include clearfix;
  position: relative;
  min-height: rem-calc(42);

  &.border-bottom {
    border-bottom: 1px solid $border-gray;
    margin-bottom: rem-calc(20);
  }
}

.inline-form-group {
  margin-bottom: 1rem;
}

.inline-form-label {
  @include absolute(0,null,null,1.5rem);
  padding: rem-calc(10);
  width: 45%;

  @include breakpoint(medium up) {
    left: 0;
  }  
}

.inline-form-input,
.inline-form-group {
  padding-left: 50% !important;
}

select.inline-form-input {
  border-bottom-width: 0;
  float: right;
  padding-left: 0 !important;
  width: 50%;
  margin-bottom: 0;
}

.inline-form-icon {
  @include absolute(1.25rem,null,null,0);
  display: block !important;
  margin-top: 0;

  @include breakpoint(medium up) {
    left: -1.5rem;
  }  
}

.is-invalid-input:not(:focus) {
  background-color: transparent !important;
}
