// Font sizes
//

$psuedo-header-sizes: (
  small: (
    'h1': 24,
    'h2': 20,
    'h3': 19,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 48,
    'h2': 40,
    'h3': 31,
    'h4': 25,
    'h5': 20,
    'h6': 16,
  ),
);


@each $size, $headers in $header-sizes {
  @include breakpoint($size) {
    @each $header, $font-size in $headers {
      %#{$header} {
        font-size: rem-calc($font-size);
      }
    }
  }
}


$t-alpha: rem-calc(48);
$t-beta: rem-calc(40);
$t-gamma: rem-calc(31);
$t-delta: rem-calc(25);
$t-epsilon: rem-calc(20);
$t-base: rem-calc(16);
$t-small: rem-calc(14);
$t-tiny: rem-calc(12);
$t-micro: rem-calc(10);

.h1, .t-alpha {
  @extend %h1;
}

.h2, .t-beta {
  @extend %h2;
}

.h3, .t-gamma {
  @extend %h3;
}

.h4, .t-delta {
  @extend %h4;
}

.h5, .t-epsilon {
  @extend %h5;
}

.h6, .t-base {
  @extend %h6;
}

.t-small {
  font-size: rem-calc(14);
}

.t-tiny {
  font-size: rem-calc(12);
}

.t-micro {
  font-size: rem-calc(10);
}

// Font families
//
.t-serif {
  font-family:$serif-font-family !important;
}

.t-sans {
  font-family:$body-font-family !important;
}

// Font weights
//
.t-black {
   @include type-weight(black);
}

.t-bold {
   @include type-weight(bold);
}

.t-semi {
   @include type-weight(semi);
}

.t-normal {
  @include type-weight(regular);
}

.t-light {
  @include type-weight(light);
}

// Font transforms
//
.t-caps {
  text-transform: uppercase !important;
}

.t-titled {
  text-transform: capitalize !important;
}

address {
  font-style: normal;
  margin-bottom: 1rem;
}

hr {
  border-bottom-color: $light-gray !important;
}

.icon-text {
  .ui-icon {
    margin-right: .25rem;
  }
}