//
// BaseType
//

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$base-font-family: $font-family;
$sans-font-family: $font-family;
$body-font-family: $font-family;
$sans-font-family-semibold: $font-family;
$sans-font-family-bold: $font-family;
$alt-font-family: "Montserrat", Helvetica, Arial, Verdana, sans-serif;
$serif-font-family: "Droid Serif", Georgia, Times, serif;
$fancy-serif-font-family: $serif-font-family;

$font-weight-normal: 400;
$type-weight: (
  light: 300,
  regular: 400,
  semi: 600,
  bold: 700,
  black: 800
);

//
// Color
//

// Brand Colors
$primary:         map-get($foundation-palette, primary);
$secondary:       map-get($foundation-palette, secondary);
$attention:       #5fb8c5;
$success:         map-get($foundation-palette, success);
$alert:           map-get($foundation-palette, alert);
$warn:            map-get($foundation-palette, warning);

// This is a Sass map. It is neat.
// It's similar to a JSON array, with key value pairs.

$colors: (
  primary:   $primary,
  secondary: $secondary,
  attention: $attention,
  success:   $success,
  alert:     $alert,
  warn:      $warn,
);
