body {
  background: $primary;

  &:before {
    @include absolute(0,0,100px,0);
    content: '';
    height: rem-calc(500);
    background: linear-gradient(to bottom, $secondary 5%, $primary 100%);
    z-index: -1;
  }
}
