.footer {
  background-color: $light-gray;
  text-align: center;
  font-size: 1rem;
  padding: 2rem 2rem 1rem;
}

.footer-copywrite {
  color: #8f9296;
  
  @include breakpoint(medium up) {
    text-align: left;
  }
}

.footer-link {

}

.footer-contact {
  color: $dark-gray;

  @include breakpoint(medium up) {
    text-align: right;
  }
}

// Simple sticky footer
$sticky-footer-height: rem-calc(90);

@include breakpoint(medium up) {
  html {
      position: relative;
      height: auto;
      min-height: 100%;
  }

  body {
      margin: 0 0 $sticky-footer-height; /* bottom = footer height */
  }

  .footer {
      position: absolute;
      left: 0;
      bottom: 0;
      height: $sticky-footer-height;
      width: 100%;
  }
}