.footer {
  background-color: $light-gray;
  text-align: center;
  font-size: 1rem;
  padding: 2rem 2rem 1rem;
}

.footer-copywrite {
  color: #8f9296;
  
  @include breakpoint(medium up) {
    text-align: left;
  }
}

.footer-link {

}

.footer-contact {
  color: $dark-gray;

  @include breakpoint(medium up) {
    text-align: right;
  }
}
