{{> top-bar classes="sticky is-stuck is-at-top column"}}

<div class="content with-sticky-header">
  <section class="row collapse padding-bottom">
    <div class="medium-4 columns">
      
      {{> caption-overlay }}
      
      <section class="content-block block bg-white">
        <header class="block-header">
          <h3 class="block-title t-base">Foster Children</h3>
          <span class="block-edit">
            <a href="#" class="a-alert">Edit</a>
          </span>
        </header>

        <div class="media-object">
          <div class="media-object-section">
            <img src="http://placehold.it/81x111">
          </div>

          <div class="media-object-section">
            {{> text.meta-list }}
          </div>
        </div>

        <div class="media-object">
          <div class="media-object-section">
            <img src="http://placehold.it/81x111">
          </div>

          <div class="media-object-section">
            {{> text.meta-list }}
          </div>
        </div>

      </section>
    </div>

    <div class="medium-8 columns">
      <section class="block attention">
        <p class="has-icon">{{> icons.icon ui="mail" fill="white"}} JAMES MIDDLEDITCH</p>
      </section>

      <section class="block primary">
        <span class="block-edit">
          <a href="#">Edit</a>
        </span>
        <ul class="meta-list no-bullet">
          <li class="meta-list-item">{{> icons.icon ui="mail" fill="white"}} happydaddy@gmail.com</li>
          <li class="meta-list-item">{{> icons.icon ui="phone" fill="white"}} 415-555-1212</li>
          <li class="meta-list-item">Preferred Mode of Contact: Phone</li>
        </ul>
      </section>

      <section class="content-block block bg-white">
        <header class="block-header">
          <h3 class="block-title t-base">Profile</h3>
          <span class="block-edit">
            <a href="#" class="a-medium-gray">Cancel</a>
          </span>
        </header>

        <div class="row padding-bottom--2x">
          <div class="large-8 large-centered columns">
            <ul class="meta-list tall">
              <li class="meta-list-item">
                <div class="inline-form">
                  {{> icons.icon ui="gender" fill="primary" classes="inline-form-icon"}}
                  <label for="textInput" class="inline-form-label">Gender:</label>
                  <div class="inline-form-group radio-group-inline">
                    <div class="radio radio-inline">
                      <input type="radio" name="groupName" id="radio1" /> 
                      <label for="radio1">Radio 1</label>
                    </div>

                    <div class="radio radio-inline">
                      <input type="radio" name="groupName" id="radio2" /> 
                      <label for="radio2">Radio 2</label>
                    </div>
                  </div>
                </div>
              </li>
              <li class="meta-list-item">
                <div class="inline-form border-bottom">
                  {{> icons.icon ui="love" fill="primary" classes="inline-form-icon"}}
                  <label class="inline-form-label">Marital Status</label>
                  {{> forms.select classes="inline-form-input"}}
                </div>
              </li>
              <li class="meta-list-item">
                <div class="inline-form border-bottom">
                  {{> icons.icon ui="religion" fill="primary" classes="inline-form-icon"}}
                  <label class="inline-form-label">Religion</label>
                  {{> forms.select classes="inline-form-input"}}
                </div>
              </li>
              <li class="meta-list-item">
                <div class="inline-form border-bottom">
                  {{> icons.icon ui="love" fill="white" classes="inline-form-icon"}}
                  <label class="inline-form-label">Race</label>
                  {{> forms.select classes="inline-form-input"}}
                </div>
              </li>
              <li class="meta-list-item">
                <div class="inline-form border-bottom">
                  {{> icons.icon ui="job" fill="primary" classes="inline-form-icon"}}
                  <label class="inline-form-label">Employment Status</label>
                  {{> forms.select classes="inline-form-input"}}
                </div>
              </li>
              <li class="meta-list-item">
                <div class="inline-form">
                  {{> icons.icon ui="time" fill="primary" classes="inline-form-icon"}}
                  <label for="textInput" class="inline-form-label">Occupation</label>
                  <input type="text" id="textInput" class="inline-form-input" />
                </div>
              </li>
              <li class="meta-list-item">
                <div class="inline-form">
                  {{> icons.icon ui="money" fill="primary" classes="inline-form-icon"}}
                  <label for="textInput" class="inline-form-label">Annual Income</label>
                  <input type="text" id="textInput" class="inline-form-input" />
                </div>
              </li>
            </ul>
          </div>
        </div>

        <header class="block-header">
          <h3 class="block-subtitle t-base">Medical History</h3>
        </header>

        <div class="row">
          <div class="large-8 large-centered columns">   
            <ul class="meta-list">
              <div class="inline-form">
                <label for="textInput" class="inline-form-label show-for-sr">Medical History</label>
                <textarea class="tall"></textarea>
              </div>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="large-6 large-centered columns">     
            {{> buttons.button text="Save" size="large" color="attention" classes="expanded"}}
          </div>
        </div>
      </section>
    </div>
  </section>
</div>

{{> footer classes="stuck is-at-bottom" }}
