{{> top-bar }}
{{> hero }}

<div class="content">
  <section class="row padding-top--2x padding-bottom--2x">
    <div class="large-12 columns">
      <div class="callout">
        <h2>Hello, World!</h2>

        {{> text.[paragraph]}}
        {{> buttons.button text="My Button"}}

        <span class="a-top-right">
          {{> buttons.button text="My Button"}}
        </span>
      </div>
    </div>
  </section>

  <section class="row padding-bottom--2x">
    <div class="large-4 columns">
      {{> card content="Mad Max"}}
    </div>
    <div class="large-4 columns">
      {{> card content="Road Warrior"}}
    </div>
    <div class="large-4 columns">
      {{> card content="Fury Road"}}
    </div>
  </section>
</div>

{{> footer }}
