{{> top-bar }}
{{> hero }}

<div class="content">
  <section class="row padding-top--2x padding-bottom">
    <div class="large-12 columns">
      <div class="callout large bg-light-gray">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero ligula, mattis eu justo at, pulvinar efficitur lectus.</p>

        <h2 class="t-serif t-gamma">Find Residential Facilities in Your Area</h2>

        {{> forms.search}}
      </div>
    </div>
  </section>

  <section class="row padding-bottom">
    <div class="large-12 columns">
      <div class="callout large">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero ligula, mattis eu justo at, pulvinar efficitur lectus.</p>

        <h2 class="t-serif t-delta">Hello, World!</h2>

        {{> text.link-list}}
      </div>
    </div>
  </section>

  <section class="row padding-bottom--2x">
    <div class="large-12 columns">
      <div class="callout large">
        <h2 class="t-serif t-delta">Contact</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero ligula, mattis eu justo at, pulvinar efficitur lectus.</p>
      </div>
    </div>
  </section>
</div>

{{> footer }}
