{{> top-bar }}

<div class="content">
  <div class="row collapse margin-top--2x margin-bottom--2x">
    <div class="medium-3 columns">
      <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
        <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">{{> profile-object }}</a></li>
        <li class="tabs-title"><a href="#panel2v">{{> profile-object }}</a></li>
        <li class="tabs-title"><a href="#panel3v">{{> profile-object }}</a></li>
        <li class="tabs-title"><a href="#panel4v">{{> profile-object }}</a></li>
        <li class="tabs-title"><a href="#panel3v">{{> profile-object }}</a></li>
        <li class="tabs-title"><a href="#panel4v">{{> profile-object }}</a></li>
      </ul>
    </div>
    <div class="medium-9 columns p-relative">
      <div class="message-content tabs-content vertical" data-tabs-content="example-vert-tabs">
        <div class="tabs-panel is-active" id="panel1v">
          <p class="text-center">April 13, 2016</p>
          {{> message-object }}
          <hr>
          {{> message-object }}
          <hr>
          {{> message-object }}
          <hr>
          {{> message-object }}
          <hr>
          {{> message-object }}
          <hr>
          {{> message-object }}
          <hr>
          {{> message-object }}
        </div>
        <div class="tabs-panel" id="panel2v">
          <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
        </div>
        <div class="tabs-panel" id="panel3v">
          <img class="thumbnail" src="assets/img/generic/rectangle-3.jpg">
        </div>
        <div class="tabs-panel" id="panel4v">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="tabs-panel" id="panel5v">
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="tabs-panel" id="panel6v">
          <img class="thumbnail" src="assets/img/generic/rectangle-5.jpg">
        </div>
      </div>
      <div class="message-input">
          {{> forms.message-input }}
      </div>
    </div>
  </div>
</div>

{{> footer classes="stuck" }}
