{{> top-bar classes="sticky is-stuck is-at-top column"}}

<div class="content with-sticky-header">
  <div class="row collapse margin-top--2x margin-bottom--2x">
    <div class="medium-4 columns">
      <ul class="messages-tabs tabs vertical block-margins" id="example-vert-tabs" data-tabs>
        <li class="messages-title tabs-title is-active">
          <a href="#panel1v" aria-selected="true">
          <h3 class="messages-from t-base">From: Ben Bills <span class="message-date">May 13</span></h3>
          <p>Re: Gloria Luck</p>
          </a>
        </li>
        <li class="messages-title tabs-title">
          <a href="#panel2v">
            <h3 class="messages-from t-base">From: Ben Bills <span class="message-date">May 13</span></h3>
            <p>Re: Gloria Luck <span class="label small alert float-right">New</span></p>
          </a>
        </li>
      </ul>
    </div>
    <div class="medium-8 columns p-relative">
      <div class="message-content tabs-content vertical block-margins" data-tabs-content="example-vert-tabs">
        <div class="message-panel tabs-panel is-active" id="panel1v">
          
          <header class="message-subect">
            <h1 class="message-title">Re: Stephanie Lang</h1>
            <span class="message-date">Apr 13, 2016</span>
          </header>
          <section class="message-feed">
            {{> message-object }}
            <div class="message-object media-object right">
              <div class="media-object-section">
                <div class="message-bubble right">
                  <p>Marc<br>
                  I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
                </div>
              </div>
              <div class="media-object-section">
                <figure class="message-thumb">
                  <img src="http://placehold.it/83x111">
                  <figcaption class="message-time">10:38 am</figcaption>
                </dfigureiv>
              </div>
            </div>
            <div class="message-object media-object right">
              <div class="media-object-section">
                <div class="message-bubble right">
                  <p>Marc<br>
                  I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
                </div>
              </div>
              <div class="media-object-section">
                <figure class="message-thumb">
                  <img src="http://placehold.it/83x111">
                  <figcaption class="message-time">10:38 am</figcaption>
                </dfigureiv>
              </div>
            </div>
            {{> message-object }}
            <div class="message-object media-object right">
              <div class="media-object-section">
                <div class="message-bubble right">
                  <p>Marc<br>
                  I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
                </div>
              </div>
              <div class="media-object-section">
                <figure class="message-thumb">
                  <img src="http://placehold.it/83x111">
                  <figcaption class="message-time">10:38 am</figcaption>
                </dfigureiv>
              </div>
            </div>
            {{> message-object }}
            <div class="message-object media-object right">
              <div class="media-object-section">
                <div class="message-bubble right">
                  <p>Marc<br>
                  I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
                </div>
              </div>
              <div class="media-object-section">
                <figure class="message-thumb">
                  <img src="http://placehold.it/83x111">
                  <figcaption class="message-time">10:38 am</figcaption>
                </dfigureiv>
              </div>
            </div>
            {{> message-object }}
            <div class="message-object media-object right">
              <div class="media-object-section">
                <div class="message-bubble right">
                  <p>Marc<br>
                  I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
                </div>
              </div>
              <div class="media-object-section">
                <figure class="message-thumb">
                  <img src="http://placehold.it/83x111">
                  <figcaption class="message-time">10:38 am</figcaption>
                </dfigureiv>
              </div>
            </div>
          </section>
        </div>
        
        <div class="message-panel tabs-panel" id="panel2v">
          <header class="message-subect">
            <h1 class="message-title">Re: Stephanie Lang</h1>
            <span class="message-date">Apr 13, 2016</span>
          </header>

          <div class="row">
            <div class="small-11 medium-7 small-centered column">
              <div class="message-placeholder">
                <p>You can start a message here with Robert Stevens and Stephanie Lang</p>
              </div>
            </div>
          </div>
        </div>

        {{> forms.message-input }}
      </div>
    </div>
  </div>
</div>

{{> footer classes="stuck is-at-bottom" }}
