{{> top-bar classes="sticky is-stuck is-at-top column"}}

<div class="content with-sticky-header">
  <section class="row margin-top--2x margin-bottom--2x">
    <div class="large-6 columns">
      {{> form-login }}
    </div>
    <div class="large-6 columns">
      {{> form-create }}
    </div>
  </section>
  <section class="row margin-bottom--2x">
    <div class="block primary text-center">
      <p>Your personal information is visible to you and California Health & Human Services</p>
    </div>
  </section>
</div>

{{> footer classes="stuck is-at-bottom" }}
