{{> top-bar classes="sticky is-stuck is-at-top column"}}

<div class="content with-sticky-header">
  <section class="row collapse padding-top--2x padding-bottom">
    <div class="medium-4 columns">
      
      {{> caption-overlay }}
      
      <section class="content-block block bg-white">
        <header class="block-header">
          <h3 class="block-title t-base">Foster Children</h3>
          <a href="#" class="block-edit">Edit</a>
        </header>

        <div class="media-object">
          <div class="media-object-section">
            <img src="http://placehold.it/81x111">
          </div>

          <div class="media-object-section">
            {{> text.meta-list }}
          </div>
        </div>

        <div class="media-object">
          <div class="media-object-section">
            <img src="http://placehold.it/81x111">
          </div>

          <div class="media-object-section">
            {{> text.meta-list }}
          </div>
        </div>

      </section>
    </div>
    <div class="medium-8 columns">
      <section class="block attention">
        <a href="#" class="block-edit">Edit</a>
        <ul class="meta-list no-bullet">
          <li class="meta-list-item">{{> icons.icon fill="white"}} happydaddy@gmail.com</li>
          <li class="meta-list-item">{{> icons.icon fill="white"}} 415-555-1212</li>
          <li class="meta-list-item">Preferred Mode of Contact: Phone</li>
        </ul>
      </section>
      
      {{> content-block }}

      <section class="content-block block bg-white">
        <header class="block-header">
          <h3 class="block-title t-base">Household Details</h3>
          <a href="#" class="block-edit">Edit</a>
        </header>

        <div class="row">
          <div class="large-6 columns">
            <ul class="meta-list tall icon-list no-bullet">
              <li class="meta-list-item">Gender: Male</li>
              <li class="meta-list-item">Marital Status: Widower</li>
              <li class="meta-list-item">Religion: Bábism</li>
              <li class="meta-list-item">Race: Native American</li>
              <li class="meta-list-item">Employment Status: Full Time</li>
              <li class="meta-list-item">Ocupation: Software Engineer</li>
              <li class="meta-list-item">Annual Income: $100,000</li>
            </ul>
          </div>

        <div class="large-6 columns">   
          <ul class="meta-list no-bullet">
            <li class="meta-list-item">Medical History:
              <ul class="meta-list nested no-bullet">
                <li class="meta-list-item">Migraines</li>
                <li class="meta-list-item">PVCs</li>
                <li class="meta-list-item">Shoulder Surgery (2000)</li>
                <li class="meta-list-item">Inflammed Gut</li>
              </ul>
            </li>
          </ul>
        </div>

        </div>
      </section>
    </div>
  </section>
</div>

{{> footer classes="stuck is-at-bottom" }}
