{{> top-bar }}

<div class="content">
  <section class="row padding-top--2x padding-bottom">
    <div class="large-12 columns">
      <div class="callout large bg-light-gray">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero ligula, mattis eu justo at, pulvinar efficitur lectus.</p>

        <h2 class="t-serif t-gamma">Find Residential Facilities in Your Area</h2>

        {{> forms.search}}
      </div>
    </div>
  </section>

  <section class="row padding-bottom--2x">
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
  </section>
</div>

{{> footer }}
