{{> top-bar classes="sticky is-stuck is-at-top column"}}

<div class="content with-sticky-header">
  <section class="row padding-bottom">
    <div class="large-12 columns">
      <div data-sticky-container>
        <div class="sticky" data-sticky data-margin-top="0">


          <div class="callout search large bg-light-gray">
            <h2 class="t-serif t-delta">Find Foster Family Agencies in Your Area</h2>
            {{> forms.search}}
            <p>122 agencies within 100 miles of "San Francisco, CA"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="row padding-bottom--2x">
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
    <div class="large-6 columns">
      {{> search-card }}
    </div>
  </section>
</div>

{{> footer classes="stuck is-at-bottom" }}
