%block-margins {
  margin: rem-calc(3);

  @include breakpoint(medium up) {
    margin-right: 0; 
  }  
}

.block {
  @extend %block-margins;
  background-color: $white;
  padding: 1.5rem;
  position: relative;

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.attention,
  &.primary {
    color: $white;

    a {
      color: $white;
    }
  }

  &.attention {
    background-color: $attention;
  }

  &.primary {
    background-color: $primary;
  }
}

.block-margins {
  @extend %block-margins;
}

.block-header {
  @include clearfix;
  margin-bottom: 1rem;
}

.block-title {
  font-weight: $font-weight-bold;
  letter-spacing: rem-calc(1.4);
  text-transform: uppercase;
}

.block-edit {
  @include absolute(1.5rem,1.5rem,null,null);
  color: $attention;
  text-decoration: underline;
}

.image-block {
  @extend %block-margins;
}

.block-note {
  color: $medium-gray;
  font-size: $t-tiny;
  margin-bottom: 1rem;
}

.block-expand {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}