.button, button {
  font-weight: $font-weight-bold;
  border-width: 2px !important;

  &.attention {
    background-color: $attention;

    &:hover,
    &:focus {
      background-color: darken($attention, 5%);
    }
  }

  &.wide {
    width: 80%;
  }
}
