// SVG Icons

.ui-icon {
  display: inline-block;
  line-height: 1;
  width: rem-calc(16);
  height: rem-calc(16);
  vertical-align: middle;

  svg {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }

  use {
    fill: black;
  }

  &.i-tiny {
    width: rem-calc(10);
    height: rem-calc(10);
  }

  &.i-small {
    width: rem-calc(12);
    height: rem-calc(12);
  }

  &.i-base {
    width: rem-calc(16);
    height: rem-calc(16);
  }

  &.i-medium {
    width: rem-calc(24);
    height: rem-calc(24);
  }

  &.i-large {
    width: rem-calc(32);
    height: rem-calc(32);
  }
}

.has-icon {
  .ui-icon {
    margin-right: .5rem;
  }
}