.input-group-button {
  .button {
    padding-bottom: rem-calc(13);
    padding-top: rem-calc(13);
  }
}

//
// Custom input styles

$color-focus:           #3e94cf;
$color-visited:         #4c2c92;
$color-primary:        $attention;
$color-white:              #fff;
$color-gray:          $dark-gray;
$color-gray-light:  $medium-gray;
$color-gray-lighter: $light-gray;
$border-radius:    rem-calc(3px);

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: none;
  background-image: none, url('../images/arrow-down.svg'), url('../images/arrow-down.png');
  background-position: right .75rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
}

//
// Custom checkboxes
//

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  position: absolute;
  margin-left: -20px;
}

.ie9 {
  input[type="radio"],
  input[type="checkbox"] {
    left: 0 !important;
    position: relative !important;
  }
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 0.5em;
  display: block;
  margin-left: 0;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  background: white;
  border-radius: $border-radius;
  box-shadow: 0 0 0 1px $primary;
  content: '\a0';
  display: inline-block;
  height: 1rem;
  line-height: .6;
  margin-right: .6em;
  text-indent: .15em;
  vertical-align: .2em;
  width: 1rem;
}

input[type="radio"] + label::before {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px $primary;
  height:.8rem;
  width: .8rem;
}

input[type="radio"] + label::before {
  border-radius: 100%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  background-color: $color-primary;
  box-shadow: 0 0 0 1px $color-primary;
}

input[type="radio"]:checked + label::before {
  box-shadow: 0 0 0 2px $color-white, 0 0 0 3px $primary;
}

input[type="radio"]:focus + label::before {
  box-shadow: 0 0 0 2px $color-white, 0 0 0 3px $color-primary, 0 0 3px 4px $color-focus, 0 0 7px 4px $color-focus;
}

input[type="checkbox"]:checked + label::before {
  // background-image: url('../images/check.png');
  background-image: url('../images/check.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 0 1px $color-white, 0 0 0 2px $color-primary;
}

input[type="checkbox"]:disabled + label {
  color: $color-gray;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  background: $light-gray;
  box-shadow: 0 0 0 1px $medium-gray;
  cursor: not-allowed;
}

.radio-group,
.radio-group-inline {
  p {
    label {
      text-transform: none;
    }
  }
}

.radio-group-inline {
  .radio-inline {
    display: inline-block;
  }
}
