.footer {
  background-color: #ffffff;
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem 0;
}

.footer-copywrite {
  color: #8f9296;
  
  @include breakpoint(medium up) {
    text-align: right;
  }
}

.footer-link {

}

.footer-contact {
  color: #8f9296;

  @include breakpoint(medium up) {
    text-align: left;
  }
}

// Simple sticky footer
$sticky-footer-height: rem-calc(156);

@include breakpoint(medium up) {
  html {
      position: relative;
      height: auto;
      min-height: 100%;
  }

  body {
      margin: 0 0 $sticky-footer-height; /* bottom = footer height */
  }

  .stuck {
      position: absolute;
      left: 0;
      bottom: 0;
      height: $sticky-footer-height;
      width: 100%;
  }
}