$hero-color: white;

.hero {  
  background-color: $attention;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.hero-logo {
  img {
    height: 4em;
    margin-bottom: 1em;
  }
}

.hero-inner {
  @include clearfix;
  margin: auto;
  padding: 3.5em;
  text-align: center;
}

.hero-copy {
  text-align: center;
}

.hero-header {
  color: $hero-color;
  margin-bottom: 0.5em;
}

.hero-text {
  color: $hero-color;
  line-height: 1.4em;
  margin: 0 auto; 
}
