$form-border-color: #cacaca;
$form-radius: 3px;

.log-in-form {
  background-color: #fff;
}

.form-header {
  text-align: center;
  background-color: $primary;
  color: $white;
  padding: 1.5rem;
}

.form-title {
  text-transform: uppercase;
  margin-bottom: 0;
}

.form-group {
  padding: 2rem;
}