.message-tabs {
  border-width: 0;
}

.message-content {
  height: 80vh;
  position: relative;

  &.vertical {
   border-width: 0;
  }
}

.message-panel {
  overflow-y: auto;
  height: 100%;
}

.message-feed {
  padding-bottom: rem-calc(200); // better done with js
}

.message-input {
   @include absolute(null,0,0,0);
}

