.message-tabs {
  border-width: 0;
}

.message-content {
  height: 80vh;
  overflow-y: auto;
  position: relative;

  &.vertical {
   border-width: 0;
  }
}

.message-input {
   @include absolute(null,0,0,0);
}

