.top-bar {

}

.top-bar-logo {
  line-height: rem-calc(56);
}

.top-bar-menu {

  &.menu > li {
    vertical-align: bottom;
  }

  &.menu > li > a {
    line-height: rem-calc(13);
    padding: rem-calc(24) rem-calc(13) rem-calc(13);
    vertical-align: bottom;
  }

  &.menu .active > a {
    background-color: $white;
    border-bottom-color: $attention;
    color: $dark-gray;
  }
}

.top-bar-menu-item {
  position: relative;
}

.top-bar-menu-link {
  border-bottom: 2px solid transparent;
  color: $dark-gray;
  font-weight: $font-weight-black;
  font-size: $t-tiny;
  text-transform: uppercase;
}

.top-bar-badge {
  vertical-align: bottom;

  &.attention {
    background-color: $attention;
  }
}

.toggle-menu {
  float: right;

  @include breakpoint(small only) {
    float: left;
    width: 100%;
  }

  .menu {
    @include breakpoint(small only) {
      display: none;
    }
  }

  &.show-menu {
    .menu {
      display: block;
    }
  }

  @include breakpoint(small only) {
    .menu > li {
      display: block;
    }
  }
}

.menu-icon.dark {
  margin-right: 1rem;

  &::after {
    background: $primary;
    box-shadow: 0 7px 0 $primary, 0 14px 0 $primary;
  }
}
