.top-bar {

}

.top-bar-logo {
  line-height: rem-calc(56);
}

.top-bar-menu {
  &.menu > li > a {
    padding: 2.5rem 1rem .75rem;
  }

  &.menu .active > a {
    background-color: $white;
    border-bottom-color: $attention;
    color: $dark-gray;
  }
}

.top-bar-menu-item {

}

.top-bar-menu-link {
  border-bottom: 2px solid transparent;
  color: $dark-gray;
  font-weight: $font-weight-black;
  font-size: $t-tiny;
  text-transform: uppercase;
}

